body {
background: #F5F5F5;
box-shadow: 0px 0px 30px 0px rgba(219, 219, 219, 1);
font-family: 'Montserrat', sans-serif;


}
.main {
padding-top: 20px;
display: block;
font-size: 13px;
padding-bottom: 30px;

}

.text-center {
text-align: center;

}
a:hover, 
a:visited, 
a:focus { 
text-decoration: none;
color:#1E90FF;
}
img {
height: 120px;
width: 200px;
}
.block {
width: 218px;
height: 145px;
box-shadow: 0px 0px 30px 0px rgba(219, 219, 219, 1);
display: inline-block;
}
.Prechu {
height: 120px;
width: 100px;
}