.box {
  width: 650px;
  height: 350px;
  background: url(../img/photo.jpg) no-repeat center;
  background-size: cover;
  margin: 30px auto;
  position: relative;
}
svg {
  width: 650px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
}
svg line {
  stroke-width: 10;
  stroke: #FFD700;
  fill: none;
  stroke-dasharray: 500;
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
}
div:hover svg line {
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
}
div:hover svg line.top {
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
}
div:hover svg line.bottom {
  -webkit-transform: translateX(400px);
  transform: translateX(500px);
}
div:hover svg line.left {
  -webkit-transform: translateY(400px);
  transform: translateY(400px);
}
div:hover svg line.right {
  -webkit-transform: translateY(-400px);
  transform: translateY(-400px);
}
.wrap {
  transition: all 2s;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 350px;
  text-align: center;
  opacity: 0;
  margin: 0 auto;
}
.wrap:hover,
.wrap a {
  opacity: 1;
  width: 80%;
  height: 80%;
  transform: rotate(360deg);
  margin: 0 auto;
  color: black;
}
a:focus {
  color: #6495ED;
}
