@font-face {
  font-family: 'ChunkFive Ex';
  src: url('../fonts/ChunkFiveEx.eot');
  src: url('../fonts/ChunkFiveEx.eot?#iefix') format('embedded-opentype'), url('../fonts/ChunkFiveEx.woff2') format('woff2'), url('../fonts/ChunkFiveEx.woff') format('woff'), url('../fonts/ChunkFiveEx.ttf') format('truetype'), url('../fonts/ChunkFiveEx.svg#ChunkFiveEx') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
input {
  outline: none;
}
textarea {
  outline: none;
}
button {
  outline: none;
}
section {
  position: relative;
  height: 100vh;
}
.form {
  z-index: 2;
  display: inline-block;
  position: absolute;
  background-color: #4d59a1;
  text-align: center;
  top: 50%;
  width: 50rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form form {
  padding: 4rem;
}
.form form input {
  margin-bottom: 1rem;
}
.form form textarea {
  width: 50%;
  font-size: 1rem;
  color: #b9b9b9;
  padding: 1rem;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.form form textarea:focus {
  color: transparent;
}
.form form button {
  width: 55%;
  border-style: none;
  background-color: #c3f37f;
  padding: 2rem;
  border-radius: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
}
.form h2 {
  font-family: 'ChunkFive Ex';
  font-size: 6rem;
  color: #ffffff;
  margin-top: 4rem;
  margin-bottom: 0;
}
.email {
  width: 50%;
  border-style: none;
  border-radius: 5px;
  padding: 1rem;
}
.where {
  width: 50%;
  border-style: none;
  border-radius: 5px;
  padding: 1rem;
}
.map {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}
