html {
  font-size: 10px;
}
@media (max-width: 800px) {
  /*** {
overflow-x: hidden;	

} **/
  .systems_about-systems li {
    display: block !important;
    padding-bottom: 5rem;
  }
  .second-page h4 {
    padding-bottom: 2rem;
  }
  .second-page .sol-items {
    margin-bottom: 2rem !important;
    margin-left: -0.8rem !important;
  }
  .second-page .system-erp .name-system {
    padding-left: 5px !important;
    padding-bottom: 1rem !important;
  }
  .benefit {
    padding: 0 !important;
  }
}
/** fonts **/
.light {
  font-family: 'Museo Sans Cyrl 100';
  font-weight: 100;
  font-style: normal;
}
.reg {
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  font-style: normal;
}
.exbold {
  font-family: 'Museo Sans Cyrl 900';
  font-weight: bold;
  font-style: normal;
}
.bold {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
}
.second-page h2 {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 4.3rem;
  padding-bottom: 2rem;
}
.second-page h4 {
  font-family: 'Museo Sans Cyrl 100';
  font-weight: 100;
  font-style: normal;
  font-size: 1.7rem;
}
.second-page .sol-items {
  height: 242px;
  background: white;
  margin-bottom: 2rem;
}
.second-page .sol-items img {
  width: auto;
  height: auto;
  position: absolute;
  left: 76%;
  top: 20%;
}
.second-page .sol-items h3 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 1.7rem;
}
.second-page .sol-items p {
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  color: #393945;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
}
.second-page .sol-items p span {
  color: #d3d3d4;
}
.second-page .sol-items p:nth-of-type(2) {
  font-family: 'Museo Sans Cyrl 100';
  font-weight: 100;
  font-style: normal;
}
.second-page .sol-items a {
  color: #fe5c2e;
  -webkit-transform: scaleY(1.0094);
      -ms-transform: scaleY(1.0094);
          transform: scaleY(1.0094);
  padding-left: 2rem;
}
.second-page .systems {
  padding-top: 14rem;
}
.second-page .systems h4 {
  padding-right: 0.5rem;
  padding-bottom: 5rem;
}
.second-page .partnership ul {
  padding: 0;
  text-align: center;
}
.second-page .partnership ul li {
  display: inline-block;
  padding-right: 2rem;
}
.second-page .logo li {
  display: inline-block;
  list-style-type: none;
}
.second-page .logo li img {
  width: auto;
  height: auto;
  margin-right: 2rem;
  vertical-align: middle;
}
.second-page .systems_about-systems {
  padding-top: 7rem;
}
.second-page .systems_about-systems li {
  display: inline-block;
}
.second-page .systems_about-systems a {
  border-radius: 5px;
  border: 2px solid black;
  padding: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  color: black;
}
.second-page .systems_about-systems a:hover {
  background-color: #fe5c2e;
  color: white;
  border-color: #fe5c2e;
}
.second-page .systems_about-systems a:focus {
  background-color: #393945;
  border-color: #393945;
  color: white;
}
.second-page .system-erp {
  padding-top: 5rem;
}
.second-page .system-erp .abbreviation {
  text-decoration: underline;
  width: 51px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
}
.second-page .system-erp .name-system {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  padding-left: 5rem;
}
.second-page .system-erp h4 {
  color: #363643;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  padding-bottom: 3.5rem;
}
.second-page .system-erp li {
  list-style-type: none;
  font-size: 1.7rem;
  font-family: 'Museo Sans Cyrl 100';
  font-weight: 100;
  font-style: normal;
  color: black;
}
.second-page .system-erp li:hover:before {
  color: #fe5c2e;
}
.second-page .system-erp .showings li:before {
  padding-right: 1rem;
  content: "\f05d";
  font-family: 'FontAwesome';
}
.second-page .benefit {
  padding-left: 5.5rem;
}
.second-page .benefit h4 {
  font-size: 2rem;
  height: 18px;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
}
.second-page .benefit .ball {
  border-radius: 50%;
  background-color: black;
  padding: 4px 9px;
  color: white;
  float: left;
}
.second-page .benefit p {
  padding-left: 5rem;
  padding-bottom: 2rem;
}
.second-page .benefit #showing7 {
  display: none;
}
.second-page .benefit .logo {
  padding-left: 2rem;
}
.second-page .benefit #logo6 {
  display: none;
}
.second-page .benefit .benefit-items:hover .ball {
  background-color: #fe5c2e;
}
.second-page .benefit #ball6,
.second-page .benefit #benefit-items6 {
  display: none;
}
.third-page .why-me {
  padding-top: 10rem;
}
.third-page .why-me h2 {
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 4.3rem;
  padding-bottom: 4rem;
  padding-left: 11rem;
}
.third-page .why-me h5 {
  font-family: 'Museo Sans Cyrl 100';
  font-weight: 100;
  font-style: normal;
  font-size: 1.8rem;
  padding-bottom: 4rem;
}
.third-page .why-me .why-me_vantage {
  width: 300px;
  height: 259px;
  margin-bottom: 2rem;
}
.third-page .why-me .why-me_vantage:hover {
  background-color: white;
}
.third-page .why-me .why-me_vantage:hover .elips {
  border-radius: 50%;
  background-color: #fe5c2e;
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  left: 51.5%;
  top: 15%;
  opacity: 1;
  z-index: 1;
}
.third-page .why-me .why-me_vantage img {
  height: 38px;
  width: auto;
  margin-top: 4rem;
  opacity: 0.7;
  position: relative;
  z-index: 2;
}
.third-page .why-me .why-me_vantage p {
  padding-top: 4rem;
  font-family: 'Museo Sans Cyrl 300';
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  color: black;
}
.third-page .our-advantages {
  color: #fe5c2e;
  font-size: 1.8rem;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
  padding-top: 3rem;
  padding-left: 2rem;
}
.fourth-screen .phase {
  width: 201px;
  height: 270px;
  padding-top: 4rem;
  margin-left: 3.1rem;
  position: relative;
  z-index: 1;
}
.fourth-screen .phase:hover {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(57, 57, 69, 0.05);
}
.fourth-screen .phase:hover .phase-icon {
  background-color: #fe5c2e;
}
.fourth-screen .phase:hover .phase-icon .icon,
.fourth-screen .phase:hover .phase-icon .icon1 {
  color: white;
}
.fourth-screen .phase:focus {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(57, 57, 69, 0.05);
}
.fourth-screen .phase:focus .phase-icon {
  background-color: #fe5c2e;
}
.fourth-screen .phase:focus .phase-icon .icon,
.fourth-screen .phase:focus .phase-icon .icon1 {
  color: white;
}
.fourth-screen .phase h4 {
  text-transform: uppercase;
}
.fourth-screen .phase .phase-icon {
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(57, 57, 69, 0.05);
  width: 91px;
  height: 91px;
  position: relative;
  left: 0.5rem;
}
.fourth-screen .phase .phase-icon .demo-icon {
  font-family: "fontello";
}
.fourth-screen .phase .phase-icon .icon {
  padding-top: 3rem;
  color: #fe5c2e;
}
.fourth-screen .phase .phase-icon .icon1 {
  padding-top: 3rem;
  padding-right: 1rem;
  color: #fe5c2e;
}
.fourth-screen .phase h4 {
  padding-top: 2rem;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
}
.fourth-screen .phase p {
  padding-top: 0.5rem;
  font-family: 'Museo Sans Cyrl 100';
  font-weight: 100;
  font-style: normal;
  font-size: 1.5rem;
}
.fourth-screen .steps {
  background-color: white;
  text-align: left;
  position: relative;
  z-index: 2;
  height: 130px;
  padding-left: 5rem;
  padding-top: 2.5rem;
  display: none;
}
.fourth-screen .steps .step:hover {
  background-color: white;
}
.fourth-screen .steps .step:hover .elips {
  border-radius: 50%;
  background-color: #fe5c2e;
  width: 28px;
  height: 28px;
  display: block;
  position: absolute;
  opacity: 1;
  z-index: 1;
}
.fourth-screen .steps .step:hover h4 {
  color: black;
}
.fourth-screen .steps h4 {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  color: #dcdcde;
}
.fourth-screen .steps p {
  font-family: 'Museo Sans Cyrl 100';
  font-weight: 100;
  font-style: normal;
  font-size: 1.4rem;
}
