html {
  font-size: 10px;
}
.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 1920px;
  height: 1200px;
  text-align: center;
}
.flex-items {
  width: 480px;
  height: 1198px;
}
.item1 {
  background: url(../img/photo4.png) no-repeat;
}
.item2 {
  background: url(../img/photo3.png) no-repeat;
}
.item3 {
  background: url(../img/photo2.png) no-repeat;
}
.item4 {
  background: url(../img/photo1.png) no-repeat;
}
.flex-items h2 {
  margin-top: 58rem;
  font-size: 4rem;
  font-family: 'Bad Script', cursive;
  color: yellow;
}
.item3 h2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.item2 h2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.item1 h2 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
